<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/input.css" rel="stylesheet">
    <title>Добавление питомца</title>
</head>
<body>
<div class="Wrapper">
    <div class="Input">
        <form th:action="${'/pet/add'}" method="post" th:object="${pet}">
            <input th:field="*{name}" class="Input-text" type="text" name="name" placeholder="Введите имя питомца" width="">
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <br>
            <select  name="breedname">
                <div th:each="element : ${breed}">
                    <option th:text="${element.name}"></option>
                </div>
            </select>
            <br>
            <input th:field="*{age}" class="Input-text" type="number" name="age" placeholder="Введите возраст питомца">
            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
            <br>
            <input th:field="*{sex}" class="Input-text" type="text" name="sex" maxlength="1" placeholder="Введите пол питомца">
            <div style="color: red" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></div>
            <br>
            <label>Болен ли питомец</label><br>
            <div th:field="*{sick}" class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="sick" value="1" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Да</label>
            </div>
            <div th:field="*{sick}" class="custom-control custom-radio">
                <input type="radio" id="customRadio2" name="sick" value="0" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2">Нет</label>
            </div>
            <div style="color: red" th:if="${#fields.hasErrors('sick')}" th:errors="*{sick}"></div>
            <br>
            <button class="Input-text" type="submit">Добавить питомца</button>
        </form>
    </div>
    </div>
</body>
</html>

