<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование данных питомца</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/input.css" rel="stylesheet">
</head>
<body>
<div class="Input" th:each="el : ${pet}">
    <form th:action="@{/pet/{id}/edit(id=${pet.id})}" method="post" th:object="${pet}">
        <input th:field="*{name}" class="Input-text" type="text" name="name" th:value="${pet.getName()}" placeholder="Введите имя питомца" width="">
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <input th:field="*{breed}" class="Input-text" type="text" name="breed" th:value="${pet.getBreed()}"  placeholder="Введите породу питомца">
        <div style="color: red" th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}"></div>
        <br>
        <input th:field="*{age}" class="Input-text" type="number" name="age" th:value="${pet.getAge()}" placeholder="Введите возраст питомца">
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        <br>
        <input th:field="*{sex}" class="Input-text" type="text" name="sex" th:value="${pet.getSex()}" maxlength="1" placeholder="Введите пол питомца">
        <div style="color: red" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></div>
        <br>
        <label>Болен ли питомец</label><br>
        <div th:field="*{sick}" class="custom-control custom-radio" >
            <input type="radio" id="customRadio1" name="sick" value="1" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Да</label>
        </div>
        <div th:field="*{sick}" class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="sick" value="0" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Нет</label>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors('sick')}" th:errors="*{sick}"></div>
        <br>
        <button class="Input-text" type="submit">Добавить питомца</button>
    </form>
</div>
</body>
</html>