<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фильтрация питомцев</title>
</head>
<body>
<form >
    <input  type="text" name="name">
    <button formmethod="post" th:formaction="${'/pet/filter/result'}" type="submit">Найти</button>
    <button formmethod="post" th:formaction="${'/pet/filter/resultcontains'}" type="submit">Найти</button>
    <div th:each="el : ${result}">
        <h3 th:text="${el.name}"></h3>
        <p th:text="${el.breed}"></p>
        <p th:text="${el.sex}"></p>
        <p th:text="${el.age}"></p>
        <p th:text="${el.sick}"></p>
    </div>
</form>
</body>
</html>

