<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/input.css" rel="stylesheet">
    <title>Добавление владельцев</title>
</head>
<body>
<div class="Wrapper">
    <div class="Input">
        <form th:action="${'/owner/add'}" method="post">
            <input class="Input-text" type="text" name="name" placeholder="Введите имя" ><br>
            <input class="Input-text" type="text" name="post" placeholder="Введите должность"><br>
            <input class="Input-text" type="number" name="age" placeholder="Введите возраст"><br>
            <input class="Input-text" type="text" name="sex" maxlength="1" placeholder="Введите пол"><br>
            <input class="Input-text" type="text" name="salary"  placeholder="Введите заработную плату"><br>
            <br>
            <button class="Input-text" type="submit">Добавить</button>
        </form>
    </div>
</div>
</body>
</html>