<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link href="/css/input.css" rel="stylesheet">
</head>
<body>
<div class="Input" >
    <form th:action="@{/owner/{id}/edit(id=${owner.id})}" method="post" th:object="${owner}">
        <input  th:field="*{name}" class="Input-text" th:value="${owner.getName()}" type="text" name="name" placeholder="Введите имя"/>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <input  th:field="*{post}" class="Input-text" th:value="${owner.getPost()}" type="text" name="post" placeholder="Введите должность"/>
        <div style="color: red" th:if="${#fields.hasErrors('post')}" th:errors="*{post}"></div>
        <br>
        <input  th:field="*{age}" class="Input-text" th:value="${owner.getAge()}" type="number" name="age" placeholder="Введите возраст"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        <br>
        <input  th:field="*{sex}" class="Input-text" th:value="${owner.getSex()}" type="text" name="sex" maxlength="1" placeholder="Введите пол"/>
        <div style="color: red" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></div>
        <br>
        <input  th:field="*{salary}" class="Input-text" th:value="${owner.getSalary()}" type="text" name="salary"  placeholder="Введите заработную плату"/>
        <div style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
        <br>
        <button class="Input-text" type="submit">Сохранить изменения</button>
    </form>
</div>
</body>
</html>