<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/input.css" rel="stylesheet">
    <title>Добавление владельцев</title>
</head>
<body>
<div class="Wrapper">
    <div class="Input">
        <form th:action="${'/owner/add'}" method="post" th:object="${owner}">
            <input th:field="*{name}" class="Input-text" type="text" name="name" placeholder="Введите имя" >
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <br>
            <input th:field="*{post}" class="Input-text" type="text" name="post" placeholder="Введите должность">
            <div style="color: red" th:if="${#fields.hasErrors('post')}" th:errors="*{post}"></div>
            <br>
            <input th:field="*{age}" class="Input-text" type="number" name="age" placeholder="Введите возраст">
            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
            <br>
            <input th:field="*{sex}" class="Input-text" type="text" name="sex" maxlength="1" placeholder="Введите пол">
            <div style="color: red" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></div>
            <br>
            <input th:field="*{salary}" class="Input-text" type="text" name="salary"  placeholder="Введите заработную плату">
            <div style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
            <br>
            <select  name="departname">
                <div th:each="element : ${depart}">
                    <option th:text="${element.name}"></option>
                </div>
            </select>
            <br>
            <button class="Input-text" type="submit">Добавить</button>
        </form>
    </div>
</div>
</body>
</html>