




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/link.css" rel="stylesheet">
    <title>Все владельцы</title>
</head>
<body>
<div>
</div>
<div th:insert="blocks/header" />

<div class="Wrapper">
    <div class="Input">
        <table>
            <ul>
                <a class="Input-text" href="/owner/filter">Фильтрация</a>
                <a href="/owner/add">Добавить владельца</a>
            </ul>

            <div th:each="el : ${owners}">
                <p class="Title" th:text="${el.getName()}" ></p>
                <p class="Title" th:text="${el.getPost()}"></p>
                <a  th:href="'/owner/' + ${el.id}"> Подробнее </a>
            </div>
        </table>
    </div>
</div>
</body>
</html>


